.App {
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;
  padding: auto;
  margin: auto;
}

.topicOptionLabel {
  margin-left: 2%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.topicCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}